* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.top-bar {
    width: 100%;
    background-color: black;
    padding: 20px 40px;
    text-align: center;
}

.top-bar>a {
    color: white;
    background-color: black;
    margin: auto auto;
}

.top-bar>a:active {
    color: white;
}

/* ============ header ===========  */
.header-background {
    width: 100%;
    background-color: aqua;

}

.header-cover {
    display: flex;
    flex-direction: column;
    height: 800px;
    margin: 0 80px;
}

/* ============ nav ===========  */

.nav {
    display: flex;
    width: 100%;
    background-color: red;
    padding: 15px 0;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo>a {
    text-decoration: none;
    color: white;
}

.logo>a>div {
    display: flex;
    align-items: center;
}

.logo>a>div>span {
    padding-left: 5px;
    font-weight: bold;
    font-size: 1.5em;
}

.menu {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    color: white;
    padding-left: 180px;
}


.menu>span {
    padding: 15px 15px 10px 15px;
    font-size: 1.2em;
    border-bottom: 1px solid transparent;
}

.member>a {
    padding: 10px;
    font-size: 1.2em;
}

.menu>span:hover {
    border-bottom: 1px solid white;
}

.member {
    display: flex;
    justify-content: end;
    flex-grow: 1;
    align-items: center;
    padding-left: 180px px;
}

.member>a {
    color: white;
    text-decoration: none;
}

.member>a:hover {
    background-color: rgba(236, 236, 236, 0.356);
    border-radius: 50px;
}

.account {
    background-color: aliceblue;
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 50px;

}

/* ============ search ===========  */

.search {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 67px;
    background-color: black;

}

.search-item:first-child {
    padding: 0px 60px 0px 40px;
}

.search-item:nth-child(4),
.search-item:nth-child(4) input {
    border: none;
    width: 120px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
}

.search-bar a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;

}

.search-item {
    padding: 0px 20px;
}

.search-item {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.11);
}

.search-item:first-child:hover {
    background-color: red;
    border-radius: 50px;
    padding: 12px 60px 12px 40px;
}

.search-item:hover {
    background-color: red;
    border-radius: 50px;
    padding: 12px 20px;
}

.search input {
    border: none;
    font-size: 0.8em;
}

.search-icon {
    padding: 15px;
    margin: 0 10px;
    background-color: #fa205a;
    border-radius: 100px;
}





/* ============ title ===========  */

.title {
    flex-grow: 1;
    background-color: green;
}

.title-contant {
    padding: 300px 500px 100px 0;

}

.title-contant h1 {
    width: 600px;
    font-size: 4em;
    color: white;
    margin-bottom: 15px;
}

.title-contant a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: aliceblue;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 10px;
}